:root {
  --skeleton-background_color: gray;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: black;
  background-color: #fefefe;
  margin: 0;
}
.gray {
  background: var(--skeleton-background_color);
  opacity: 0.7;
  border-radius: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  max-width: 420px;
  padding: 2em 1em;
  text-align: center;
  div {
    margin-bottom: 20px;
    width: 100%;
  }
  section {
    width: 100%;
  }
}
.share {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
